body {
    background: black;
  }
  
  .dot {
     content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: linear-gradient( white, red, blue, purple, white);
    background-clip: border-box;
    -webkit-background-clip: border-box;
     
    border-radius: 50%;
    background-size: 300%;
    background-position: 100%;
    display: flex;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
         
   }
    50% {
        opacity: 0.5;
        transform: scale(2.2);
         }
    100% {
        opacity: 1;
        transform: scale(1);
      }
  }
  
   